.app {
    display: grid;
    grid-gap: 15px;
    overflow: hidden;
    /*   grid-template-columns: repeat(auto-fill, 200px); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) 150px); */
    grid-auto-flow: dense;
}

.item:nth-of-type(3n) {
    grid-column: span 2;
}

.item:nth-of-type(5n) {
    grid-row: span 2;
}
